.title {
  font-family: "Bangers", cursive;
  font-size: 60px;
}

.left {
  color: black;
  background-color: #5cdb95;
}

.right {
  color: white;
  background-color: #05386b;
}

.file-show {
  margin: auto;
  background-color: aliceblue;
}
